.header {
  width: 100vw;
  height: 60px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid grey;
  justify-content: space-between;
}
.logo {
  height: 80px;
  object-fit: cover;
}
h5 {
  font-size: 20px;
  color: grey;
  padding-right: 70px;
}
h5 span {
  color: rgb(6, 86, 172);
}
